<html>
<head>
    <title></title>
    <link href= "/public/css/iletisim.css" rel="stylesheet" type="text/css" />
</head>
 
<body>
    <div class="container">
        <form id="contact" action="/" method="get">
            <h1>FİZYOTERAPİSTLER</h1> 
           <ul>
            
           </ul>
        </form>
    </div>


</body>
<script src="/app.js"> </script>
<script src="../models/doctors.js"> </script>
</html>